<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sikware.com.gladitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharCreation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Camp"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Map"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Store"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutPlayer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Equip"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fight"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ArenaSelect"
            android:screenOrientation="landscape" />

    </application>

</manifest>